
@media screen and (max-width: 900px) {
  #root {
    grid-template-columns: 1fr;
  }

  .brand h3 {
    margin: 0;
  }

  .grid-music {
    text-align: center;
  }

  #player-music {
    background-repeat: no-repeat;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 0px;
    height: calc(100% + 35px);
    width: 100%;
    position: relative;
    top: -35px;
    right: 0px;
  }

  .current-play {
    margin-top: 60px;
  }

  .current-play .cover {
    width: 100px;
    height: 100px;
  }

  .current-play .content h3 {
    font-size: 30px;
    line-height: 40px;
  }

  .current-play .content p {
    font-size: 20px;
    line-height: 30px;
  }

  .current-play .content small {
    font-size: 16px;
    line-height: 24px;
  }

  .music {
    margin: 20px 0;
    padding: 15px 5px;
  }

  .music:hover {
    padding: 15px 5px;
  }

  .music small {
    font-size: 16px;
  }

  .music h3 {
    font-size: 20px;
  }

  .music p {
    font-size: 18px;
  }
}


@media screen and (min-width: 901px) and (max-width: 1099px) {
  #root {
    grid-template-columns: 1fr 40%;
  }

  .grid-albums {
    width: 190px;
    margin: 0 20px 57px;
    cursor: pointer;
  }
}


@media screen and (max-width:520px) {
  #root {
    padding: 0px;
  }

  #intro {
    border-radius: 0px;
  }

  .container {
    margin: 0px;
    padding: 0px;
  }

  header {
    position: fixed;
    background:white;
    width: 100%;
    top: 0;
    z-index: 99;
  }

  .brand {
    padding: 10px;
  }
  
  .search-avatar {
    padding: 10px;
  }

  .search-avatar input {
    width: 115px;
  }

  #player-music {
    background-repeat: no-repeat;
    border-radius: 0px;
    height: 100%;
    width: 100%;
    position: relative;
    top: 0px;
    right: 0px;
  }

  .player-container {
    margin: 0 auto;
    padding: 25px;
    z-index: 3;
  }

  .current-play .content h3 {
    font-size: 22px;
    line-height: 32px;
  }

  .current-play .content p {
    font-size: 16px;
  }

  .current-play .content small {
    font-size: 14px;
  }

  .music {
    padding-right: 10px;
    padding-left: 10px;
  }
  .music.active {
    padding-right: 10px;
    padding-left: 10px;
  }

  .music h3 {
    font-size: 14px;
  }

  .music p {
    font-size: 12px;
  }

  .music.active h3::before {
    font-family: "Font Awesome 5 Free";
    margin: 0 5px ;
    color: #FFCD06;
    font-weight: 900;
    content: "\f58f";
    position: relative;
    right: 0px;
  }

}